<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Market{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/vendors.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
    </head>
    <body>
        {% include 'layouts/_header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'layouts/_footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/vendors.min.js') }}"></script>
            <script src="{{ asset('assets/js/app.min.js') }}"></script>
            <script type="text/javascript">document.write('<script src="//192.168.10.10:35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
        {% endblock %}
    </body>
</html>
