{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Products</h1>

<div class="row form-group">
    <div class="col-sm-8">
        <a href="{{ path('product_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-send"></span> Create a new product</a>
    </div>
    <div class="col-sm-4">
        <div id="custom-search-input">
            <form action="{{ path('product_index') }}" method="GET">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search product...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        {% if products.items %}
        <table class="table table-responsive table-bordered">
            <thead>
                <tr class="active">
                    <th>{{ knp_pagination_sortable(products, 'Title', 'p.title') }}</th>
                    <th>{{ knp_pagination_sortable(products, 'Body', 'p.body') }}</th>
                    <th width="150">{{ knp_pagination_sortable(products, 'Thumbnail', 'p.imageName') }}</th>
                    <th>{{ knp_pagination_sortable(products, 'Price', 'p.price') }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ knp_pagination_sortable(products, 'Author', 'u.username') }}</th>
                    {% endif %}
                    <th width="100">{{ knp_pagination_sortable(products, 'Published', 'p.publishedAt') }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.body|slice(0, 255) }}</td>
                    <td>               
                        <img src="{{ product.imageName ? vich_uploader_asset(product, 'imageFile') : '/images/app/no-image.jpg'}}" alt="{{ product.title }}" class="img-rounded img-responsive" width="150" /></td>
                    <td>{{ product.price }}</td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <p>{{ product.userid.username }} <br> {{ product.userid.email }}</p>
                        </td>
                    {% endif %}
                    
                    <td class="text-center">{% if product.publishedAt %}{{ product.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('product_show', { 'id': product.id }) }}" class="btn btn-block btn-default">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show
                        </a>
                        <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-block btn-primary">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="navigation pull-right">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
</div>
{% endblock %}
